<div class="row">
  <% @posts.each do |post| %>
    <% if can? :read, post %>
      <div class="col-md-5">
        <div class="panel panel-primary">
          <div class="panel-heading"><p><%= post.title %></p></div>
          <div class="panel-body">
            <p><%= post.content %></p>
            <%= link_to "Show", post_path(post), class: "btn btn-success" %>
            <% if can? :update, post %>
              <%= link_to "Edit", edit_post_path(post), class: "btn btn-warning" %>
            <% end %>
            <% if can? :destroy, post %>
              <%= link_to "Delete", post_path(post), method: :delete, class: "btn btn-danger" %>
            <% end %>
          </div>
          <span>Composed by: <%= link_to post.user.username, user_posts_path(id: post.user.id)%></span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>