<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @post.new_record? %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  <% end %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, class: "form-control" %>
  </div>
    <div class="field">
    <p>Restricted <%= f.check_box :restricted %></p>
  </div>
  <div class="actions">
    <% if @post.new_record? %>
      <%= f.submit "Add post", class: "btn btn-lg btn-success" %>
    <% else %>
      <%= f.submit "Update", class: "btn btn-lg btn-success" %>
    <% end %>
  </div>
<% end %>
