<p id="notice"><%= notice %></p>

<div class="col-md-12">
  <div class="panel panel-primary">
    <div class="panel-heading"><p><%= @post.title %></p></div>
    <div class="panel-body">
    	<p> <%= @post.content %></p>
      <% if can? :update, @post %>
        <%= link_to "Edit", edit_post_path(@post), class: "btn btn-warning" %>
      <% end %>
    </div>
    <span>Composed by: <%= link_to @post.user.username, user_posts_path(id: @post.user.id)%></span>
  </div>
</div>


<p class="text-center"><%= link_to 'Back', posts_path, class: "btn btn-primary btn-lg" %></p>
